/* .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  max-height: 80%;
}

.popup img {
  width: 100%;
  height: auto;
} */

.pointer
{
  cursor: pointer;
}
.pointer:hover
{
  border:3px solid rgb(222,226,230);
  border-radius: 10px;
}

.image-list-width
{
    max-width: 131.35px;
    max-height: 131.35px;
}


