<div class="page-wrapper">
    <div class="page-content">
        <div class="d-flex justify-content-end mb-3">
            <button type="button" class="btn btn-primary px-5">
              <a class="dropdown-item" href="javascript:;" routerLink="/dashboard/materiales/material/nuevo" routerLinkActive="active">Nuevo material</a>
            </button>
            <button type="button" class="btn btn-success ms-2" (click)="exportToExcelMateriales()">Exportar a Excel</button>
            <button type="button" class="btn btn-danger ms-2" (click)="exportToPDFMateriales()">Exportar a PDF</button>
          </div>
        <div class="card radius-10">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <div>
                        <h6 class="mb-0">Listado de Materiales</h6>
                    </div>
                    <div class="dropdown ms-auto">
                        <a class="dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown"><i
                                class='bx bx-dots-horizontal-rounded font-22 text-option'></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:;"
                                    routerLink="/dashboard/materiales/material/nuevo" routerLinkActive="active">Añadir
                                    material</a>
                            </li>
                            <li><a class="dropdown-item" href="javascript:;">Another action</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="javascript:;">Something else here</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-middle mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>Nombre</th>
                                <th>Categoría</th>
                                <th>Foto</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pointer" *ngFor="let material of materiales">
                                <td>{{material.MaterialName}}</td>

                                <td>{{material.Category}}</td>
                                <!-- <td>{{material.Description}}</td> -->
                                <td>
                                    <img class="image-list-width" *ngIf="!material.ShowGenericImage"
                                        src="http://127.0.0.1:8000/uploads/{{material.ImageUrl}}"
                                        (error)="handleImageError(material)" alt="Image">

                                    <img class="image-list-width" *ngIf="material.ShowGenericImage"
                                        src="http://localhost/proyecto-construccion-back/uploads/generic-image.png"
                                        alt="Generic Image">
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-outline-primary me-3"
                                        (click)="goToDetails(material.MaterialID)">Detalles</button>
                                    <button class="btn btn-sm btn-outline-primary me-3"
                                      *ngIf="this.usuarioLogado?.UserType == 'Administrator' || 'Administrador'"
                                        (click)="goToEdit(material.MaterialID)">Editar</button>

                                    <button class="btn btn-sm btn-outline-primary" *ngIf="this.usuarioLogado?.UserType == 'Administrator' || 'Administrador' "
                                        (click)="manageStock(material.MaterialID, material.MaterialName)">Gestionar stock</button>

                                    <button class="btn btn-sm btn-outline-primary" *ngIf="this.usuarioLogado?.UserType == 'Cliente'"
                                    (click)="manageStock(material.MaterialID, material.MaterialName)">Seleccionar stock</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
            </div>
        </div>
    </div>
  </div>
