<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="ps-3">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                  <li class="breadcrumb-item">
                    <a
                      href="javascript:;"
                      routerLink="/dashboard/materialescliente"
                      routerLinkActive="active"
                      ><i class="bx bx-home-alt"></i
                    ></a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Pintura
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        <div class="container">
            <h1 class="simple-title">Nuestra Selección de Pintura</h1>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <ng-container *ngFor="let material of materiales">
                    <div class="col" *ngIf="material.Category === 'Pintura'">
                        <div class="card h-100">
                            <img
                                *ngIf="!material.ShowGenericImage"
                                src="http://127.0.0.1:8000/uploads/{{ material.ImageUrl }}"
                                (error)="handleImageError(material)"
                                alt="{{ material.MaterialName }}"
                                class="card-img-top img-fluid"
                                style="height: 200px; object-fit: cover;"
                            />
                            <img
                                class="card-img-top img-fluid"
                                *ngIf="material.ShowGenericImage"
                                src="http://localhost/proyecto-construccion-back/uploads/generic-image.png"
                                alt="Imagen genérica"
                            />
                            <div class="card-body">
                                <h5 class="card-title">{{ material.MaterialName }} - {{material.ProviderName}}</h5>
                                <p class="card-text">Precio: {{ material.UnitPrice }}€</p>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-outline-primary btn-detalles" (click)="goToDetails(material.MaterialID)">
                                        Detalles
                                    </button>
                                    <button class="btn btn-primary btn-presupuesto" (click)="confirmAddToBudget(material.MaterialID, material.ProviderId)">
                                        <i class="fas fa-file-invoice"></i>
                                    </button>
                                    <button class="btn btn-primary btn-factura" (click)="confirmAddToSale(material.MaterialID, material.ProviderId)">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">Confirmar acción</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Seguro de agregar el producto seleccionado?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="cancelButton" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="confirmButton">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successModalLabel">Éxito</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¡Material agregado al presupuesto con éxito!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">Error</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Se produjo un error al agregar el material al presupuesto. Por favor, inténtalo de nuevo más tarde.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmModal1" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">Confirmar acción</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Seguro de agregar el producto seleccionado?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="cancelButton1" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="confirmButton1">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="successModal1" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successModalLabel">Éxito</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¡Material agregado a la factura con éxito!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="errorModal1" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">Error</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Se produjo un error al agregar el material a la factura. Por favor, inténtalo de nuevo más tarde.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
