
<div class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img src="./assets/images/logo.png" class="logo-icon" alt="logo icon">
    </div>
    <div>
      <h4 class="logo-text">Materiales Construcción</h4>
    </div>
    <div class="toggle-icon ms-auto"><i class='bx bx-arrow-back'></i>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li class="menu-label">Opciones</li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class='bx bx-cart'></i>
        </div>
        <div class="menu-title">Páginas</div>
      </a>
      <ul>
        <li class="nav-item"> <a routerLink="/dashboard/materialescliente" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Materiales</a>
        </li>
        <li class="nav-item"> <a routerLink="/dashboard/proveedores" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Proveedores</a>
        </li>
        <li class="nav-item"> <a routerLink="/dashboard/presupuestos/:id" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Presupuestos</a>
        </li>
        <li class="nav-item"> <a routerLink="/dashboard/facturas/:id" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Facturas</a>
        </li>
        <!-- <li class="nav-item"> <a routerLink="/dashboard/usuarios" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Clientes</a>
        </li> -->
        <!-- <li class="nav-item"> <a routerLink="/dashboard/clientes/crearUsuario" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Crear Usuarios</a>
        </li> -->
      </ul>
    </li>
  </ul>
  <!--end navigation-->
</div>





