
<div class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img src="./assets/images/logo.png" class="logo-icon" alt="logo icon">
    </div>
    <div>
      <h4 class="logo-text">Materiales Construcción</h4>
    </div>
    <div class="toggle-icon ms-auto"><i class='bx bx-arrow-back'></i>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li class="menu-label">Opciones</li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class="lni lni-construction"></i>
        </div>
        <div class="menu-title">Páginas</div>
      </a>
      <ul>
        <li class="nav-item"> <a routerLink="/dashboard/materialescliente" routerLinkActive="active" class="nav-link"><i class="lni lni-bricks"></i>Materiales</a>
        </li>
        <!-- <li class="nav-item"> <a routerLink="/dashboard/proveedores" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Proveedores</a>
        </li> -->
        <li class="nav-item"> <a routerLink="/dashboard/presupuestos" routerLinkActive="active" class="nav-link"><i class="lni lni-write"></i>Presupuestos</a>
        </li>
        <li class="nav-item"> <a routerLink="/dashboard/facturas/:id" routerLinkActive="active" class="nav-link"><i class="lni lni-cart-full"></i>Facturas</a>
        </li>
        <!-- <li class="nav-item"> <a routerLink="/dashboard/usuarios" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Clientes</a>
        </li> -->
        <!-- <li class="nav-item"> <a routerLink="/dashboard/clientes/crearUsuario" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Crear Usuarios</a>
        </li> -->
      </ul>


    </li>
    <li class="menu-label">Categorías</li>
    <li>
        <a href="javascript:;" class="has-arrow">
          <div class="parent-icon"><i class="lni lni-grid-alt"></i>
          </div>
          <div class="menu-title">Categorías</div>
        </a>
        <ul>
          <li class="nav-item"> <a routerLink="/dashboard/materialesconstruccion" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Materiales de construcción</a>
          </li>
          <li class="nav-item"> <a routerLink="/dashboard/madera" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Madera</a>
          </li>
          <li class="nav-item"> <a routerLink="/dashboard/puertasventanas" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Puertas y ventanas</a>
          </li>
          <li class="nav-item"> <a routerLink="/dashboard/suelosrevestimientos" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Suelos y revestimientos</a>
          </li>
          <li class="nav-item"> <a routerLink="/dashboard/cocinas" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Cocinas</a>
          </li>
          <li class="nav-item"> <a routerLink="/dashboard/banos" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Baños</a>
          </li>
          <li class="nav-item"> <a routerLink="/dashboard/ceramica" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Cerámica</a>
          </li>
          <li class="nav-item"> <a routerLink="/dashboard/fontaneria" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Fontanería</a>
          </li>
          <li class="nav-item"> <a routerLink="/dashboard/climatizacioncalefaccion" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Climatización y calefacción</a>
          </li>
          <li class="nav-item"> <a routerLink="/dashboard/electricidad" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Electricidad</a>
          </li>
          <li class="nav-item"> <a routerLink="/dashboard/energiarenovable" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Energia Renovable</a>
          </li>
          <li class="nav-item"> <a routerLink="/dashboard/iluminacion" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Iluminación</a>
          </li>
          <li class="nav-item"> <a routerLink="/dashboard/herramientas" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Herramientas</a>
          </li>
          <li class="nav-item"> <a routerLink="/dashboard/ferreteria" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Ferretería</a>
          </li>
          <li class="nav-item"> <a routerLink="/dashboard/pintura" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Pintura y droguería</a>
          </li>

        </ul>

        <li class="menu-label">Opciones usuario</li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class="fadeIn animated bx bx-user-circle"></i>
        </div>
        <div class="menu-title">Acciones</div>
      </a>
      <ul>
        <li><a class="dropdown-item d-flex align-items-center" href="javascript:;" routerLink="/dashboard/perfil"><i class="bx bx-user fs-5"></i><span>Profile</span></a></li>
        <li><a routerLinkActive="active" class="dropdown-item d-flex align-items-center" (click)="logout()"><i class="bx bx-log-out-circle"></i><span>Logout</span></a></li>
    </ul>

      </li>
  </ul>
  <!--end navigation-->
</div>





