<section class="container">
  <div class="image-section">
    <div class="image-wrapper">
      <img src="./assets/images/fondo.png" alt="" />
    </div>

    <div class="content-container">
      <h1 class="section-heading">
        Proyecto Materiales <span>Construcción.</span>
      </h1>
      <p class="section-paragraph">Proyecto realizado por Rodrigo Mena</p>
    </div>
  </div>

  <div class="form-section">
    <div class="form-wrapper">
      <div class="logo-container">
        <img src="./assets/images/logo.png" alt="Logo" />
      </div>
      <form [formGroup]="loginForm">
        <h2>Bienvenido De Nuevo!</h2>
        <p>Introduzca tus credenciales para iniciar sesión.</p>
        <div class="text-danger">{{ loginError }}</div>
        <div class="input-container">
          <div class="form-group">
            <label for="username">Nombre de usuario</label>
            <input
              formControlName="userName"
              id="username"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input formControlName="password" type="password" id="password" />
          </div>
        </div>

        <div class="remember-forgot">
          <div class="remember-me">
            <input type="checkbox" value="remember-me" id="remember-me" />
            <label for="remember-me">Remember me</label>
          </div>


        </div>

        <button class="login-btn" (click)="submitForm()">Iniciar Sesión</button>
      </form>
      <div class="or-divider">or</div>

      <button class="register" (click)="irAlRegistro()">Registrarse</button>
    </div>
  </div>
</section>
