<h1>Materiales</h1>
<div *ngFor="let material of materiales">
  <p>Nombre: {{material.nombre}}</p>
</div>
<div class="row">
  <div class="card col-4" *ngFor="let material of materiales">
    <img src="https://picsum.photos/100/100" class="card-img-top" alt="image">
    <div class="card-body">
      <h5 class="card-title">{{material.nombre}}</h5>
      <p class="card-text">Precio unitario: €10</p>
      <small>Stock disponible: 10</small>
      <small>Proveedor: Materiales Paco</small>
      <a href="#" class="btn btn-primary">Agregar al carrito</a>
    </div>
  </div>
</div>

