<section class="container">
  <div class="image-section">
    <div class="image-wrapper">
      <img src="./assets/images/fondo.png" alt="" />
    </div>

    <div class="content-container">
      <h1 class="section-heading">Proyecto Materiales
        <span>Construcción.</span></h1>
      <p class="section-paragraph">Proyecto realizado por Rodrigo Mena</p>
    </div>
  </div>

  <div class="form-section">
    <div class="form-wrapper">
      <div class="logo-container">
        <img src="./assets/images/logo.png" alt="Logo" />
      </div>

      <h2>Bienvenido!</h2>
      <p>Introduzca tus credenciales para registrarse.</p>
      <form [formGroup]="insertForm">
      <div class="input-container">

        <div class="form-group">
          <label for="username" class="form-label">Nombre de usuario</label>
          <input formControlName="userName" id="username" autocomplete="off" placeholder="Ingrese el nombre de usuario">
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input  formControlName="password" type="password" id="password" placeholder="Ingrese la contraseña">
        </div>

        <div class="form-group">
          <label for="customerName" >Nombre del cliente</label>
          <input  formControlName="customerName" id="CustomerName" placeholder="Ingrese el nombre del cliente">
        </div>

        <div class="form-group">
          <label for="contactName" >Nombre de contacto</label>
          <input  formControlName="contactName" id="contactName" placeholder="Ingrese el nombre de contacto">
        </div>

      <div class="form-group">
        <label for="contactEmail" >Email</label>
        <input  formControlName="contactEmail" id="contactEmail" placeholder="Ingrese el email de contacto">
      </div>

      <div class="form-group">
        <label for="contactPhone" >Teléfono</label>
        <input  formControlName="contactPhone" id="contactPhone" placeholder="Ingrese el teléfono de contacto">
      </div>




      <button class="login-btn" (click)="irAlLogin()">Ya tengo cuenta</button>
        <div class="or-divider">or</div>
      <button type="submit" class="register" (click)="insertarUsuario()">Registrarse</button>

      </div>
      </form>

      </div>
    </div>
</section>
