<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="./assets/images/logo.png" height="30px"
        width="30px" alt="Logo"></a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent3"
        aria-controls="navbarSupportedContent3"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent3">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              ><i class="bx bx-home-alt me-1"></i>Inicio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#por-que-elegirnos"><i class="bx bx-user me-1"></i>Sobre nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#marcas"><i class="bx bx-category-alt me-1"></i>Marcas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer"><i class="bx bx-microphone me-1"></i>Contacto</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <!-- To the right -->

        <form class="d-flex">
          <button class="btn btn-dark me-3 radius-30 px-4" routerLink="/login" routerLinkActive="active">
            <i class="bx bx-lock"></i> Login
          </button>
          <button class="btn btn-light radius-30 px-4" routerLink="/auth/registro" routerLinkActive="active">
            <i class="bx bx-user"></i> Register
          </button>
        </form>
      </div>
    </div>
  </nav>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Bienvenido a nuestra tienda online</h1>
    <p class="lead">Encuentra los mejores productos de construcción al mejor precio.</p>
  </div>
</div>

<!-- Sección de ventajas -->
<div class="container ventajas">
  <div class="title-decorated">
    <h2>¿Por qué elegirnos?</h2>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="ventaja">
        <img src="./assets/images/foto9.png" alt="Envío rápido">
        <h3>Calidad garantizada</h3>
        <p>Productos de la más alta calidad.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="ventaja">
        <img src="./assets/images/foto3.png" alt="Calidad garantizada">

        <h3>Envío rápido</h3>
        <p>Recibe tu pedido en tiempo récord.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="ventaja">
        <img src="./assets/images/foto7.png" alt="Atención al cliente">
        <h3>Atención al cliente</h3>
        <p>Equipo de soporte disponible para ayudarte.</p>
      </div>
    </div>
  </div>
</div>


<div id="marcas" class="container mt-5">
  <div class="title-decorated">
    <h2>Marcas</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
        <a href="https://www.placo.es" target="_blank">
      <img src="./assets/images/marca1.png" class="img-fluid" alt="Marca 1">
    </a>
    </div>
    <div class="col-md-3">
        <a href="https://www.ceranor.es" target="_blank">
      <img src="./assets/images/marca2.png" class="img-fluid" alt="Marca 2">
    </a>
    </div>
    <div class="col-md-3">
        <a href="https://esp.sika.com/" target="_blank">
      <img src="./assets/images/marca3.png" class="img-fluid" alt="Marca 3">
    </a>
    </div>
    <div class="col-md-3">
        <a href="https://www.roca.es/" target="_blank">
      <img src="./assets/images/marca4.png" class="img-fluid" alt="Marca 4">
    </a>
    </div>
    <div class="col-md-3">
        <a href="https://www.sesaelec.com/" target="_blank">
      <img src="./assets/images/marca5.png" class="img-fluid" alt="Marca 4">
    </a>
    </div>
    <div class="col-md-3">
        <a href="https://www.finsa.com/" target="_blank">
      <img src="./assets/images/marca6.png" class="img-fluid" alt="Marca 4">
    </a>
    </div>
    <div class="col-md-3">
        <a href="https://www.fischer.es/" target="_blank">
      <img src="./assets/images/marca7.png" class="img-fluid" alt="Marca 4">
    </a>
    </div>
    <div class="col-md-3">
        <a href="https://hikoki-powertools.es/" target="_blank">
      <img src="./assets/images/marca8.png" class="img-fluid" alt="Marca 4">
    </a>
    </div>
    <!-- Repite para otras marcas -->
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="title-decorated">
        <h3>¿Por qué trabajamos con estas marcas?</h3>
      </div>
      <p class="text-center">Trabajamos con estas marcas porque creemos en la calidad y la confiabilidad de sus productos. Nuestra misión es ofrecer a nuestros clientes solo lo mejor, y estas marcas han demostrado consistentemente su compromiso con la excelencia.</p>
    </div>
  </div>
</div>

<br>

<!-- Footer -->
<!-- <footer>
  <div class="contenido-footer">
    <p>Designed by Rodrigo Mena</p>
    <ul>
      <li><a href="#">Política de privacidad</a></li>
      <li><a href="#">Términos y condiciones</a></li>
      <li><a href="#">Acerca de nosotros</a></li>
      <li><i class="material-icons">share</i></li>
    </ul>
  </div>
</footer> -->

<footer class="bg-primary text-light">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6">
        <h4>Contacto</h4>
        <p>Dirección: 123 Calle Principal, Ciudad</p>
        <p>Email: info@tutienda.com</p>
        <p>Teléfono: +123 456 7890</p>
      </div>
      <div class="col-md-6">
        <h4>Síguenos</h4>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <hr class="bg-light">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2024 Tu Tienda Online</p>
      </div>
      <div class="col-md-6 text-end">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Política de privacidad</a></li>
          <li class="list-inline-item"><a href="#">Términos y condiciones</a></li>
          <li class="list-inline-item"><a href="#">Acerca de nosotros</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
