<!--start page wrapper -->
<div class="page-wrapper">
  <div class="page-content">

    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="ps-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 p-0">
            <li class="breadcrumb-item"><a href="javascript:;" routerLink="/dashboard/materiales" routerLinkActive="active"><i class="bx bx-home-alt"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Detalle de material</li>
          </ol>
        </nav>
      </div>
      <div class="ms-auto">
        <div class="btn-group">
          <button type="button" class="btn btn-primary">Settings</button>
          <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown"> <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> <a class="dropdown-item"
              href="javascript:;">Action</a>
            <a class="dropdown-item" href="javascript:;">Another action</a>
            <a class="dropdown-item" href="javascript:;">Something else here</a>
            <div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:;">Separated link</a>
          </div>
        </div>
      </div>
    </div>
    <!--end breadcrumb-->

    <div class="card" *ngIf="load">
      <div class="row g-0">
        <div class="col-md-4 border-end">
          <img src="/assets/images/products/{{ material.ImageUrl }}" class="img-fluid" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"> {{ material.MaterialName }}</h4>
            <div class="d-flex gap-3 py-3">
              <div class="cursor-pointer">
                <i class='bx bxs-star text-warning'></i>
                <i class='bx bxs-star text-warning'></i>
                <i class='bx bxs-star text-warning'></i>
                <i class='bx bxs-star text-warning'></i>
                <i class='bx bxs-star text-secondary'></i>
              </div>
              <div>142 reviews</div>
              <div class="text-success">Stock: {{ material.Quantity }}</div>
            </div>
            <div class="mb-3">
              <span class="price h4">€{{ material.UnitPrice }}</span>
            </div>
            <p class="card-text fs-6">{{ material.Description }}</p>
            <dl class="row">
              <dt class="col-sm-3">Provider</dt>
              <dd class="col-sm-9">{{ material.ProviderName }}</dd>
            </dl>
            <hr>
            <div class="d-flex gap-3 mt-3">
              <a href="#" class="btn btn-primary">Buy Now</a>
              <a href="#" class="btn btn-outline-primary"><span class="text">Add to cart</span> <i
                  class='bx bxs-cart-alt'></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end page wrapper -->
