<!--start page wrapper -->
<div class="page-wrapper">
  <div class="page-content">
      <!--breadcrumb-->
      <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
          <div class="ps-3">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0 p-0">
                      <li class="breadcrumb-item">
                          <a href="javascript:;" routerLink="/dashboard/materiales" routerLinkActive="active"><i
                                  class="bx bx-home-alt"></i></a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                          Detalle de material
                      </li>
                  </ol>
              </nav>
          </div>
          <div class="ms-auto">
              <div class="btn-group">
                  <button type="button" class="btn btn-primary">Settings</button>
                  <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
                      data-bs-toggle="dropdown">
                      <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
                      <a class="dropdown-item" href="javascript:;">Action</a>

                      <a class="dropdown-item" href="javascript:;">Something else here</a>

                      <!-- Button trigger modal -->
                      <button type="button" data-bs-toggle="modal" class="dropdown-item"
                          data-bs-target="#exampleModal">Borrar material</button>
                      <!-- Modal -->

                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="javascript:;">Separated link</a>
                  </div>
              </div>
          </div>
      </div>
      <!--end breadcrumb-->

      <div class="card" *ngIf="load">
          <div class="row g-0">
              <div class="col-md-4 border-end">
                  <img class="image-width" *ngIf="!material.ShowGenericImage"
                      src="http://localhost/proyecto-construccion-back/uploads/{{material.ImageUrl}}" (error)="handleImageError(material)"
                      alt="Image">
                  <img class="image-width" *ngIf="material.ShowGenericImage" src="http://localhost/proyecto-construccion-back/uploads/generic-image.png"
                      alt="Generic Image">

              </div>
              <div class="col-md-8">
                  <div class="card-body">
                      <h4 class="card-title">{{ material.MaterialName }}</h4>
                      <div class="d-flex gap-3 py-3">
                          <div class="cursor-pointer">
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-secondary"></i>
                          </div>
                      </div>
                      <p class="card-text fs-6">{{ material.Description }}</p>
                      <hr />
                  </div>
              </div>
          </div>
      </div>

      <h6 class="text-uppercase mb-0">Productos recomendados de hoy</h6>
      <hr />

      <div class="row row-cols-1 row-cols-lg-3">
          <a routerLink="/dashboard/materiales/2" routerLinkActive="active">
              <div class="pointer">
                  <div class="col">
                      <div class="card">
                          <div class="row g-0">
                              <div class="col-md-4">
                                  <img src="assets/images/products/yeso_iberplast.png" class="img-fluid" alt="..." />
                              </div>
                              <div class="col-md-8">
                                  <div class="card-body">
                                      <h6 class="card-title">Yeso Iberplast</h6>
                                      <div class="cursor-pointer my-2">
                                          <i class="bx bxs-star text-warning"></i>
                                          <i class="bx bxs-star text-warning"></i>
                                          <i class="bx bxs-star text-warning"></i>
                                          <i class="bx bxs-star text-warning"></i>
                                          <i class="bx bxs-star text-secondary"></i>
                                      </div>
                                      <div class="clearfix">
                                          <p class="mb-0 float-start fw-bold">
                                              <span>€2.95</span>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </a>

          <a routerLink="/dashboard/materiales/5" routerLinkActive="active">
              <div class="pointer">
                  <div class="col">
                      <div class="card">
                          <div class="row g-0">
                              <div class="col-md-4">
                                  <img src="assets/images/products/ladrillo_perforado.png" class="img-fluid" alt="..." />
                              </div>
                              <div class="col-md-8">
                                  <div class="card-body">
                                      <h6 class="card-title">Ladrillo Perforado</h6>
                                      <div class="cursor-pointer my-2">
                                          <i class="bx bxs-star text-warning"></i>
                                          <i class="bx bxs-star text-warning"></i>
                                          <i class="bx bxs-star text-warning"></i>
                                          <i class="bx bxs-star text-warning"></i>
                                          <i class="bx bxs-star text-warning"></i>
                                      </div>
                                      <div class="clearfix">
                                          <p class="mb-0 float-start fw-bold">
                                              <span>€0.15</span>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </a>

          <a routerLink="/dashboard/materiales/7" routerLinkActive="active">
              <div class="pointer">
                  <div class="col">
                      <div class="card">
                          <div class="row g-0">
                              <div class="col-md-4">
                                  <img src="assets/images/products/acelerante_liquido.png" class="img-fluid" alt="..." />
                              </div>
                              <div class="col-md-8">
                                  <div class="card-body">
                                      <h6 class="card-title">Acelerante Líquido</h6>
                                      <div class="cursor-pointer my-2">
                                          <i class="bx bxs-star text-warning"></i>
                                          <i class="bx bxs-star text-warning"></i>
                                          <i class="bx bxs-star text-warning"></i>
                                          <i class="bx bxs-star text-secondary"></i>
                                          <i class="bx bxs-star text-secondary"></i>
                                      </div>
                                      <div class="clearfix">
                                          <p class="mb-0 float-start fw-bold">
                                              <span>€5.28</span>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </a>


      </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro de que deseas borrar el material
                      seleccionado?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p>Esta acción no se puede deshacer y eliminará permanentemente el material de tu sistema. Por
                      favor, confirma tu decisión antes de continuar.</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><a class="dropdown-item"
                          href="javascript:;" (click)="deleteMaterial()">Borrar material</a></button>
              </div>
          </div>
      </div>
  </div>
</div>
<!--end page wrapper -->
