  <!--wrapper-->
  <div class="wrapper">
    <!--sidebar wrapper -->
    <app-sidebar *ngIf="this.usuarioLogado?.UserType == 'Administrador' "></app-sidebar>

    <app-sidebar-cliente *ngIf="this.usuarioLogado?.UserType == 'Cliente' "></app-sidebar-cliente>

    <!--end sidebar wrapper -->
    <!--start header -->
    <app-header></app-header>
    <!--end header -->
    <!--start page wrapper -->
    <router-outlet></router-outlet>
    <!--end page wrapper -->
    <!--start overlay-->
    <div class="overlay toggle-icon"></div>
    <!--end overlay-->
    <!--Start Back To Top Button-->
    <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->
    <!-- <footer class="page-footer">
      <p class="mb-0">Copyright © 2022. All right reserved.</p>
    </footer> -->
  </div>
  <!--end wrapper-->
