<div class="page-wrapper">
    <div class="page-content">
      <div class="d-flex justify-content-end mb-3">
        <button type="button" class="btn btn-primary px-5">
          <a class="dropdown-item" href="javascript:;" routerLink="/dashboard/proveedores/nuevoproveedor" routerLinkActive="active"><i class='fadeIn animated bx bx-user-plus'></i> Nuevo proveedor</a>
        </button>
        <button type="button" class="btn btn-success ms-2" (click)="exportToExcel()"><i class="lni lni-download"></i> Exportar a Excel</button>
        <button type="button" class="btn btn-danger ms-2" (click)="exportToPDF()"><i class="lni lni-download"></i> Exportar a PDF</button>
      </div>
      <h6 class="mb-0 text-uppercase">Listado de proveedores</h6>
      <hr/>
      <div class="card">
        <div class="card-body">
          <table class="table table-bordered mb-0">
            <thead class="table-light">
              <tr>
                <th>Nombre</th>
                <th>Contacto</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let proveedor of proveedores">
                <td>{{proveedor.ProviderName}}</td>
                <td>{{proveedor.ContactName}}</td>
                <td>{{proveedor.ContactEmail}}</td>
                <td>{{proveedor.ContactPhone}}</td>
                <td>
                  <button class="btn btn-sm btn-outline-primary me-3" (click)="goToEdit(proveedor.ProviderID)">Editar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
