 <div class="page-wrapper">
    <div class="page-content">
        <!-- <table *ngIf="datosPresupuesto">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let item of datosPresupuesto.details">
                <td>{{ item.material.MaterialName }}</td>
                <td>{{item.Quantity}}</td>
                <td>{{item.PriceUnit}}</td>
                <td>
                    <img class="image-list-width" *ngIf="!item.material.ShowGenericImage"
                        src="http://127.0.0.1:8000/uploads/{{material.ImageUrl}}"
                        (error)="handleImageError(material)" alt="Image">

                    <img class="image-list-width" *ngIf="item.material.ShowGenericImage"
                        src="http://localhost/proyecto-construccion-back/uploads/generic-image.png"
                        alt="Generic Image">
                </td>
              </tr>
            </tbody>
          </table> -->


<div class="container">
    <h2>Materiales en el Presupuesto</h2>
    <div class="row">
        <div class="col-md-8">
            <table *ngIf="datosPresupuesto" class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Imagen</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of datosPresupuesto.details">
                        <td>{{ item.material.MaterialName  }}</td>
                        <!-- <td><img [src]="item.imagenUrl" alt="{{ item.material.MaterialName  }}" style="max-width: 50px;"></td>  -->
                        <td>5</td>
                        <!-- <td>
                            <button class="btn btn-sm btn-secondary" (click)="decrementarCantidad(item)">-</button>
                            <span>{{item.Quantity}}</span>
                            <button class="btn btn-sm btn-primary" (click)="incrementarCantidad(item)">+</button>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total</h5>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">{{ calcularTotal() }}</h6> -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
