<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a routerLink="/dashboard/materialescliente" routerLinkActive="active"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Factura</li>
                    </ol>
                </nav>
            </div>
        </div>




        <div class="card">
            <div class="card-body">
                <div id="invoice">
                    <div class="toolbar hidden-print">
                        <div class="text-end">
                            <button type="button" class="btn btn-success ms-2" (click)="exportToExcel()"><i class="lni lni-download"></i> Exportar a Excel</button>
                            <button type="button" class="btn btn-danger ms-2" (click)="exportToPDF()"><i class="lni lni-download"></i> Exportar a PDF</button>
                        </div>
                        <hr/>
                    </div>
                    <div class="invoice overflow-auto">
                        <div style="min-width: 600px">
                            <header>
                                <div class="row">
                                    <div class="col">
                                        <a href="javascript:;">
                                            <img src="./assets/images/logo.png" width="80" alt="" />
                                        </a>
                                    </div>


                                    <div class="col company-details">
                                        <h2 class="name">

                            Materiales de construcción

                        </h2>
                                        <div>C/ Calle Principal, n2, Valladolid</div>
                                        <div>987654321</div>
                                        <div>MaterialesConstruccion@mail.com</div>
                                    </div>
                                </div>
                            </header>
                            <main>
                                <div class="no-presupuesto" *ngIf="!datosFactura || datosFactura.length === 0">
                                    <p>No hay ningún producto seleccionado de momento.</p>
                                  </div>

                                <table *ngIf="datosFactura && datosFactura.length > 0" class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th class="text-left">Nombre</th>
                                            <th class="text-right">Imagen</th>
                                            <th class="text-right">Cantidad</th>
                                            <th class="text-right">Proveedor</th>
                                            <th class="text-right">Precio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of datosFactura; let i = index">
                                            <td class="no">{{ contador + i }}</td>
                                            <td class="text-left">
                                                <h3>{{ item.MaterialName }}</h3></td>
                                            <td class="unit">
                                                <img width="100px"
                                                src="http://127.0.0.1:8000/uploads/{{item.ImageUrl}}"
                                                alt="Image">

                                            </td>
                                            <td class="qty">
                                                <input type="number" min="1" max="100" step="1" value="{{item.Quantity}}" (change)="recalcularTotal($event, item)" />
                                            </td>
                                            <td class="qty">{{item.ProviderName}}</td>
                                            <td class="total">{{item.UnitPrice}}</td>
                                            <td class="delete-cell">
                                                <!-- Botón o icono para eliminar la fila -->
                                                <button class="delete-button" (click)="eliminarRegistro(item.SaleDetailID)"><i class="fadeIn animated bx bx-trash"></i></button>
                                            </td>
                                        </tr>

                                    </tbody>
                                    <tfoot >
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">SUBTOTAL</td>
                                            <td>{{subTotal}} €</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">IVA 21%</td>
                                            <td>{{iva}} €</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">GRAND TOTAL</td>
                                            <td>{{total}} €</td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="notices">
                                    <div>INFORMACIÓN:</div>
                                    <div class="notice">Al subtotal se le suma el IVA del 21%.</div>
                                </div>
                            </main>
                            <footer>
                                <button type="button" class="btn btn-primary" (click)="openConfirmModal()">
                                    Confirmar Compra
                                </button>
                            </footer>

                        </div>

                        <div></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de "No hay presupuesto creado" -->
<div #noBudgetModal class="modal fade" tabindex="-1" aria-labelledby="noBudgetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="noBudgetModalLabel">No hay presupuesto creado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>No hay presupuesto creado de momento.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmar Compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <p>Seleccione el método de entrega:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="deliveryMethod" id="deliveryShipping" value="direccion" [(ngModel)]="envio" required #deliveryMethod="ngModel">
                    <label class="form-check-label" for="deliveryShipping">Envío a dirección</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="deliveryMethod" id="deliveryPickup" value="almacen" [(ngModel)]="envio" required #deliveryMethod="ngModel">
                    <label class="form-check-label" for="deliveryPickup">Recogida en el almacén</label>
                </div>
                <span class="error-message" *ngIf="deliveryMethod.invalid && deliveryMethod.touched">Por favor, seleccione un método de entrega.</span>
                <div id="shippingForm" *ngIf="envio === 'direccion'">
                    <!-- Formulario de envío a dirección -->
                    <div class="mb-3">
                        <label for="shippingAddress" class="form-label">Dirección de envío</label>
                        <input type="text" class="form-control" id="shippingAddress" placeholder="Ingrese la dirección de envío" [(ngModel)]="direccionEnvio">
                    </div>
                    <div class="mb-3">
                        <label for="shippingPostalCode" class="form-label">Código Postal</label>
                        <input type="text" class="form-control" id="shippingPostalCode" placeholder="Ingrese el código postal" [(ngModel)]="direccionEnvioCodigoPostal">
                    </div>
                    <h2>Datos de Tarjeta de Crédito</h2>
        <div class="form-group">
            <label for="cardNumber">Número de Tarjeta: </label>
            <input type="text" id="cardNumber" name="cardNumber" ngModel pattern="^\d{16}$" required #cardNumber="ngModel">
            <span class="error-message color-red" *ngIf="cardNumber.invalid && cardNumber.touched">Por favor, ingrese un número de tarjeta válido (16 dígitos).</span>
        </div>
        <div class="form-group">
            <label for="expiry">Fecha de Expiración: </label>
            <input type="month" id="expiry" name="expiry" ngModel required #expiry="ngModel">
            <span class="error-message color-red" *ngIf="expiry.invalid && expiry.touched">Por favor, ingrese una fecha de expiración válida.</span>
        </div>
        <div class="form-group">
            <label for="cvv">CVV: </label>
            <input type="text" id="cvv" name="cvv" ngModel pattern="^\d{3}$" required #cvv="ngModel">
            <span class="error-message color-red" *ngIf="cvv.invalid && cvv.touched">Por favor, ingrese un CVV válido (3 dígitos).</span>
        </div>

                </div>

                <div id="pickupForm" *ngIf="envio === 'almacen'">
                    <!-- Dirección de recogida en el almacén -->
                    <p>Dirección de recogida: C/ Avenida Salamanca nº2, Valladolid, Valladolid</p>
                    <h2>Datos de Tarjeta de Crédito</h2>
                <div class="form-group">
            <label for="cardNumber">Número de Tarjeta: </label>
            <input type="text" id="cardNumber" name="cardNumber" ngModel pattern="^\d{16}$" required #cardNumber="ngModel">
            <span class="error-message color-red" *ngIf="cardNumber.invalid && cardNumber.touched">Por favor, ingrese un número de tarjeta válido (16 dígitos).</span>
        </div>
        <div class="form-group">
            <label for="expiry">Fecha de Expiración: </label>
            <input type="month" id="expiry" name="expiry" ngModel required #expiry="ngModel">
            <span class="error-message color-red" *ngIf="expiry.invalid && expiry.touched">Por favor, ingrese una fecha de expiración válida.</span>
        </div>
        <div class="form-group">
            <label for="cvv">CVV: </label>
            <input type="text" id="cvv" name="cvv" ngModel pattern="^\d{3}$" required #cvv="ngModel">
            <span class="error-message color-red" *ngIf="cvv.invalid && cvv.touched">Por favor, ingrese un CVV válido (3 dígitos).</span>
        </div>
                </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="confirmarCompra()">Confirmar Compra</button>
            </div>


    </div>
</div>

<div id="successModal" class="modal fade" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Compra Realizada</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Compra realizada con éxito!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



    </div>
</div>


