
<div class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img src="./assets/images/logo.png" class="logo-icon" alt="logo icon">
    </div>
    <div>
      <h4 class="logo-text">Materiales Construcción</h4>
    </div>
    <div class="toggle-icon ms-auto"><i class='bx bx-arrow-back'></i>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li class="menu-label">Opciones</li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class='lni lni-cog'></i>
        </div>
        <div class="menu-title">Mantenimientos</div>
      </a>
      <ul>
        <li class="nav-item"> <a routerLink="/dashboard" routerLinkActive="active" class="nav-link"><i class='bx bx-home'></i>Página Principal</a>
        </li>
        <li class="nav-item"> <a routerLink="/dashboard/materiales" routerLinkActive="active" class="nav-link"><i class='lni lni-trowel'></i>Materiales</a>
        </li>
        <li class="nav-item"> <a routerLink="/dashboard/proveedores" routerLinkActive="active" class="nav-link"><i class='lni lni-network'></i>Proveedores</a>
        </li>
        <li class="nav-item"> <a routerLink="/dashboard/usuarios" routerLinkActive="active" class="nav-link"><i class='lni lni-customer'></i>Clientes</a>
        </li>
        <li class="nav-item"> <a routerLink="/dashboard/clientes/crearUsuario" routerLinkActive="active" class="nav-link"><i class='fadeIn animated bx bx-user-plus'></i>Crear Usuarios</a>
        </li>
      </ul>
    </li>

    <li class="menu-label">Opciones usuario</li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class="fadeIn animated bx bx-user-circle"></i>
        </div>
        <div class="menu-title">Acciones</div>
      </a>
      <ul>
        <li><a class="dropdown-item d-flex align-items-center" href="javascript:;" routerLink="/dashboard/perfil"><i class="bx bx-user fs-5"></i><span>Profile</span></a></li>
        <li><a routerLinkActive="active" class="dropdown-item d-flex align-items-center" (click)="logout()"><i class="bx bx-log-out-circle"></i><span>Logout</span></a></li>
    </ul>

      </li>

  </ul>
  <!--end navigation-->
</div>





