<ul class="metismenu" id="menu">
  <li class="menu-label">Opciones</li>
  <li>
    <a href="javascript:;" class="has-arrow">
      <div class="parent-icon"><i class='bx bx-cart'></i>
      </div>
      <div class="menu-title">Mantenimientos</div>
    </a>
    <ul>
      <li class="nav-item"> <a routerLink="/dashboard/materiales" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Materiales</a>
      </li>
      <li class="nav-item"> <a routerLink="/dashboard/proveedores" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Proveedores</a>
      </li>
      <li class="nav-item"> <a routerLink="/dashboard/clientes" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Clientes</a>
      </li>
      <li class="nav-item"> <a routerLink="/dashboard/usuarios" routerLinkActive="active" class="nav-link"><i class='bx bx-radio-circle'></i>Usuarios</a>
      </li>
    </ul>
  </li>
</ul>
