<div class="page-wrapper">
    <div class="page-content">

        
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" *ngFor="let material of materiales">
                <div class="card h-100">
                    <img
                        *ngIf="!material.ShowGenericImage"
                        src="http://127.0.0.1:8000/uploads/{{ material.ImageUrl }}"
                        (error)="handleImageError(material)"
                        alt="{{ material.MaterialName }}"
                        class="card-img-top img-fluid"
                        style="height: 200px; object-fit: cover;"
                    />
                    <img
                        class="card-img-top img-fluid"
                        *ngIf="material.ShowGenericImage"
                        src="http://localhost/proyecto-construccion-back/uploads/generic-image.png"
                        alt="Imagen genérica"
                    />
                    <div class="card-body">
                        <h5 class="card-title">{{ material.MaterialName }}</h5>
                        <p class="card-text">Precio: {{ material.UnitPrice }}€</p>
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-primary btn-detalles" (click)="goToDetails(material.MaterialID)">
                                Detalles
                            </button>
                            <button class="btn btn-primary btn-presupuesto" (click)="confirmAddToBudget(material.MaterialID, material.ProviderId)">
                                <i class="fas fa-file-invoice"></i>
                            </button>
                            <button class="btn btn-primary btn-factura">
                                <i class="fas fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
