<div class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
    </div>
    <div>
      <h4 class="logo-text">Materiales Construcción</h4>
    </div>
    <div class="toggle-icon ms-auto"><i class='bx bx-arrow-back'></i>
    </div>
  </div>
  <!--navigation-->
  <app-sidebar></app-sidebar>
  <!--end navigation-->
</div>
<!--end sidebar wrapper -->
<!--start header -->
<app-header></app-header>
<div class="page-wrapper">
  <div class="page-content">
    <!--breadcrumb-->

    <div class="contenedor">
      <div class="card-container">
        <div class="card" *ngFor="let material of materiales">
          <img
            *ngIf="!material.ShowGenericImage"
            src="http://localhost/proyecto-construccion-back/uploads/{{
              material.ImageUrl
            }}"
            (error)="handleImageError(material)"
            alt="Image"
            alt="Descripción de la imagen"
          />
          <img
            class="image-list-width"
            *ngIf="material.ShowGenericImage"
            src="http://localhost/proyecto-construccion-back/uploads/generic-image.png"
            alt="Generic Image"
          />
          <div class="card-body">
            <h3>{{ material.MaterialName }} - {{ material.ProviderName }}</h3>
            <p>{{ material.UnitPrice }}</p>

              <a (click)="goToDetails(material.MaterialID)" class="btn btn-sm btn-outline-primary me-3">Más info.</a>

              <a (click)="confirmAddToBudget(material.MaterialID, material.ProviderId)" class="btn btn-sm btn-outline-primary me-3">Añadir a presupuesto.</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 product-grid">
      <div class="col">
        <div class="card">
          <img src="assets/images/products/01.png" class="card-img-top" alt="...">
          <div class="">
            <div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
          </div>
          <div class="card-body">
            <h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
            <div class="clearfix">
              <p class="mb-0 float-start"><strong>134</strong> Sales</p>
              <p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
            </div>
            <div class="d-flex align-items-center mt-3 fs-6">
              <div class="cursor-pointer">
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-secondary'></i>
              </div>
              <p class="mb-0 ms-auto">4.2(182)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/images/products/02.png" class="card-img-top" alt="...">
          <div class="">
            <div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
          </div>
          <div class="card-body">
            <h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
            <div class="clearfix">
              <p class="mb-0 float-start"><strong>134</strong> Sales</p>
              <p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
            </div>
            <div class="d-flex align-items-center mt-3 fs-6">
              <div class="cursor-pointer">
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-secondary'></i>
              </div>
              <p class="mb-0 ms-auto">4.2(182)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/images/products/03.png" class="card-img-top" alt="...">
          <div class="">
            <div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
          </div>
          <div class="card-body">
            <h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
            <div class="clearfix">
              <p class="mb-0 float-start"><strong>134</strong> Sales</p>
              <p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
            </div>
            <div class="d-flex align-items-center mt-3 fs-6">
              <div class="cursor-pointer">
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-secondary'></i>
              </div>
              <p class="mb-0 ms-auto">4.2(182)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/images/products/04.png" class="card-img-top" alt="...">
          <div class="">
            <div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
          </div>
          <div class="card-body">
            <h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
            <div class="clearfix">
              <p class="mb-0 float-start"><strong>134</strong> Sales</p>
              <p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
            </div>
            <div class="d-flex align-items-center mt-3 fs-6">
              <div class="cursor-pointer">
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-secondary'></i>
              </div>
              <p class="mb-0 ms-auto">4.2(182)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/images/products/05.png" class="card-img-top" alt="...">
          <div class="">
            <div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
          </div>
          <div class="card-body">
            <h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
            <div class="clearfix">
              <p class="mb-0 float-start"><strong>134</strong> Sales</p>
              <p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
            </div>
            <div class="d-flex align-items-center mt-3 fs-6">
              <div class="cursor-pointer">
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-secondary'></i>
              </div>
              <p class="mb-0 ms-auto">4.2(182)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/images/products/06.png" class="card-img-top" alt="...">
          <div class="">
            <div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
          </div>
          <div class="card-body">
            <h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
            <div class="clearfix">
              <p class="mb-0 float-start"><strong>134</strong> Sales</p>
              <p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
            </div>
            <div class="d-flex align-items-center mt-3 fs-6">
              <div class="cursor-pointer">
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-secondary'></i>
              </div>
              <p class="mb-0 ms-auto">4.2(182)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/images/products/07.png" class="card-img-top" alt="...">
          <div class="">
            <div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
          </div>
          <div class="card-body">
            <h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
            <div class="clearfix">
              <p class="mb-0 float-start"><strong>134</strong> Sales</p>
              <p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
            </div>
            <div class="d-flex align-items-center mt-3 fs-6">
              <div class="cursor-pointer">
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-secondary'></i>
              </div>
              <p class="mb-0 ms-auto">4.2(182)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/images/products/08.png" class="card-img-top" alt="...">
          <div class="">
            <div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
          </div>
          <div class="card-body">
            <h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
            <div class="clearfix">
              <p class="mb-0 float-start"><strong>134</strong> Sales</p>
              <p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
            </div>
            <div class="d-flex align-items-center mt-3 fs-6">
              <div class="cursor-pointer">
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-secondary'></i>
              </div>
              <p class="mb-0 ms-auto">4.2(182)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/images/products/09.png" class="card-img-top" alt="...">
          <div class="">
            <div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
          </div>
          <div class="card-body">
            <h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
            <div class="clearfix">
              <p class="mb-0 float-start"><strong>134</strong> Sales</p>
              <p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
            </div>
            <div class="d-flex align-items-center mt-3 fs-6">
              <div class="cursor-pointer">
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-secondary'></i>
              </div>
              <p class="mb-0 ms-auto">4.2(182)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/images/products/10.png" class="card-img-top" alt="...">
          <div class="">
            <div class="position-absolute top-0 end-0 m-3 product-discount"><span class="">-10%</span></div>
          </div>
          <div class="card-body">
            <h6 class="card-title cursor-pointer">Nest Shaped Chair</h6>
            <div class="clearfix">
              <p class="mb-0 float-start"><strong>134</strong> Sales</p>
              <p class="mb-0 float-end fw-bold"><span class="me-2 text-decoration-line-through text-secondary">$350</span><span>$240</span></p>
            </div>
            <div class="d-flex align-items-center mt-3 fs-6">
              <div class="cursor-pointer">
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-warning'></i>
              <i class='bx bxs-star text-secondary'></i>
              </div>
              <p class="mb-0 ms-auto">4.2(182)</p>
            </div>
          </div>
        </div>
      </div>
    </div><!--end row-->
  </div>
</div>



